.Name{
    font-weight: 250;
    color :blue;
}
.School{
    color: crimson;
}
.Total{
    color:red;
}
.formatstyle{
    text-align: center;
    font-size: large;

}
.Score{
    color: forestgreen;
}
